<!DOCTYPE html>

<head>

  <head>
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="/style.css" />

    <script>
      function verify() {
        let password = prompt('Enter password...')

        fetch("/api/videos/<%= video.video_id %>", {
          method: "post",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },

          body: JSON.stringify({
            auth: password
          })
        })
          .then(async (response) => {
            const text = await response.text()
            alert(text)
          });
      }

      function upvote() {
        fetch("/api/videos/like/<%= video.video_id %>", {
          method: "post",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          }
        })
          .then(async (response) => {
            const text = await response.text()
            alert(text)
          });
      }

      function downvote() {
        fetch("/api/videos/dislike/<%= video.video_id %>", {
          method: "post",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          }
        })
          .then(async (response) => {
            const text = await response.text()
            alert(text)
          });
      }
    </script>
  </head>

<body>
  <div class="main">
    <%- include('partials/navbar.ejs') %>

      <div align="center">
        <video height="500" class="video-js" data-setup='{}' controls>
          <source src="/videos/<%= video.video_id %>/master.m3u8" type="application/x-mpegURL">
          <source src="/videos/<%= video.video_id %>/video.mp4" type="video/mp4">
          your browser does not support video tags
        </video>
      </div>
      <h3>
        <%= video.video_name %>
      </h3>
      <p>
        <%= video.video_description %>
      </p>

      <div class="footer">

        <h4 class="date">
          <% let newDate=new Date(video.video_date) %>
            <% let monthNames=["January", "February" , "March" , "April" , "May" , "June" , "July" , "August"
              , "September" , "October" , "November" , "December" ] %>
              <%= `${monthNames[newDate.getMonth()]} ${newDate.getDate()}, ${newDate.getFullYear()}` %>
        </h4>
        <a href="#" onclick="verify()">delete video</a>
        <br>
        <br>
        <a href="#" onclick="upvote()">like (<%= video.video_likes || 0 %>)!</a> | <a href="#"
          onclick="downvote()">dislike (<%= video.video_dislikes || 0 %>)!</a>
      </div>
  </div>
  <script src="/video.js"></script>
</body>
</head>